.wrapper {
  
}
.container {
   width: 1300px;
   margin: 0 auto;
   background-color: rgb(247, 239, 239);
}
.header {
   
   background-color: rgb(240, 219, 219);
}
.content {
}
.content__about-me {
}
.content__education {
}
.content__hobbies {
}